assets/*หน่วยงานการไฟฟ้าเชียงคานแลสถานีผลิตไฟฟ้าเชียงคาน
N-17-52-33.7368-E-101-39-18.6408-!assets/.gitignore
protected/runtime/*https://law.go.th
https://www.dga.or.th!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/https://www.wikidata.org/wiki/Q640365
