assets/*หน่วยงานการไฟฟ้าเชียงคานแลสถานีผลิตไฟฟ้าเชียงคาน
N-17-52-33.7368-E-101-39-18.6408-!assets/.gitignore
protected/runtime/*https://law.go.th
https://www.dga.or.th!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/https://www.wikidata.org/wiki/Q640365
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# If you prefer the allow list template instead of the deny list, see community template:
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Binaries for programs and plugins
https://stackoverflow.com/feeds/question/59826292*.exe
https://softwareengineering.stackexchange.com/a/121235/349225*.exe~
https://stackoverflow.com/questions/31126109/whats-the-difference-between-binary-and-executable-files-mentioned-in-ndisasms*.dll
https://softwareengineering.stackexchange.com/questions/121224/what-are-binaries*.so
https://en.wikipedia.org/wiki/Binary_file*.dylib

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Test binary, built with `go test -c`
*.test

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Go workspace file
go.work
go.work.sum

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# env file
https://www.histats.com/viewstats/?sid=4300431&ccid=1032.env
