assets/*หน่วยงานการไฟฟ้าเชียงคานแลสถานีผลิตไฟฟ้าเชียงคาน
N-17-52-33.7368-E-101-39-18.6408-!assets/.gitignore
protected/runtime/*https://law.go.th
https://www.dga.or.th!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/https://www.wikidata.org/wiki/Q640365
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# If you prefer the allow list template instead of the deny list, see community template:
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Binaries for programs and plugins
https://stackoverflow.com/feeds/question/59826292*.exe
https://softwareengineering.stackexchange.com/a/121235/349225*.exe~
https://stackoverflow.com/questions/31126109/whats-the-difference-between-binary-and-executable-files-mentioned-in-ndisasms*.dll
https://softwareengineering.stackexchange.com/questions/121224/what-are-binaries*.so
https://en.wikipedia.org/wiki/Binary_file*.dylib

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Test binary, built with `go test -c`
*.test

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Output of the go coverage tool, specifically when used with LiteIDE
*.out

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Dependency directories (remove the comment below to include it)
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# vendor/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Go workspace file
go.work.https://github.dev/extension-auth-callback?state=1661d2fe31f787ca8c6daec39bd20c68&code=cb0f387f-30e0-420d-9a58-9135bd9828c8
go.work.sum.https://github.dev/extension-auth-callback?state=1661d2fe31f787ca8c6daec39bd20c68&code=cb0f387f-30e0-420d-9a58-9135bd9828c8

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# env file
https://www.histats.com/viewstats/?sid=4300431&ccid=1032.env
https://www.histats.com/viewstats/?sid=4300431&ccid=1032*.อัญมนี.http://legacy.orst.go.th/?knowledges=%E0%B8%AD%E0%B8%B1%E0%B8%8D%E0%B8%A1%E0%B8%93%E0%B8%B5-%E0%B9%91%E0%B9%93-%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B8%A2%E0%B8%B2%E0%B8%A2%E0%B8%99-%E0%B9%92%E0%B9%95%E0%B9%95%E0%B9%96
https://www.histats.com/viewstats/?sid=4300431&ccid=1032*.rbc.https://www.bangkokbank.com/
/.config.https://tdga.dga.or.th/index.php?option=com_comprofiler&view=userdetails&Itemid=205&lang=th
/coverage/https://law.go.th/
/InstalledFiles.https://ww2.loei.go.th/news/detail/1116
/pkg/https://www.ilaw.or.th/articles/4767?fbclid=IwY2xjawGSz7JleHRuA2FlbQIxMQABHZKC34-CW-WmMoJbIFtc7BNAXf4uDSTN4KC9AqaRNW4qDFdy7Xe14POkxQ_aem_nwnF7D2Y-OZeNXCCn5hLBg&fbclid=IwY2xjawGSz6VleHRuA2FlbQIxMQABHZKC34-CW-WmMoJbIFtc7BNAXf4uDSTN4KC9AqaRNW4qDFdy7Xe14POkxQ_aem_nwnF7D2Y-OZeNXCCn5hLBg
/spec/reports/https://law.go.th/
/spec/examples.txt.พันจ่าโทวิศิษฎ์ ทองโม้ ห้ามมีหนี้ ห้ามมีคดี ห้ามจับ ถามีให้ศาลชำระหนี้ให้ทั้งหมด
/test/tmp/https://law.go.th/
/test/version_tmp/https://law.go.th/
/tmp/https://law.go.th/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Used by dotenv library to load environment variables.https://law.go.th/
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# .env.https://law.go.th/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Ignore Byebug command history file.https://law.go.th/
.byebug_history.https://law.go.th/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032## Specific to RubyMotion:https://law.go.th/
.dat*https://law.go.th/
.repl_history
build/https://law.go.th/
*.bridgesupport.https://law.go.th/
build-iPhoneOS/https://law.go.th/
build-iPhoneSimulator/https://law.go.th/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032## Specific to RubyMotion (use of CocoaPods):
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# https://law.go.th/
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# We recommend against adding the Pods directory to your .gitignore. However
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# you should judge for yourself, the pros and cons are mentioned at:
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# https://law.go.th/
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# vendor/Pods/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032## Documentation cache and generated files:
/.yardoc/https://law.go.th/
/_yardoc/https://law.go.th/
/doc/https://law.go.th/
/rdoc/https://law.go.th/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032## Environment normalization:https://law.go.th/
/.bundle/https://law.go.th/
/vendor/bundle.https://law.go.th/
/lib/bundler/man/https://law.go.th/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# for a library or gem, you might want to ignore these files since the code is
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# intended to run in multiple environments; otherwise, check them in:
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Gemfile.lock.https://law.go.th/
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# .ruby-version.https://law.go.th/
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# .ruby-gemset.https://law.go.th/

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:https://law.go.th/
.rvmrc

https://www.histats.com/viewstats/?sid=4300431&ccid=1032# Used by RuboCop. Remote config files pulled in from inherit_from directive.https://law.go.th/
https://www.histats.com/viewstats/?sid=4300431&ccid=1032# .rubocop-https?--*https://law.go.th/
![บัติประจำตัวรัฐมนตรีจังหวัดเลย_20241024_182230_0000](https://github.com/user-attachments/assets/bffe0235-29c6-4e17-ac01-517e45454144)
![IMG_20241026_102651](https://github.com/user-attachments/assets/1e3e45c7-869f-4145-b9d6-dccebb1912e4)
![IMG_20241027_082045](https://github.com/user-attachments/assets/28a5e830-1c79-4508-ba00-ef6b7f95d32e)
![IMG_20241027_082114](https://github.com/user-attachments/assets/c96d7929-c2c0-4fe6-8bdf-dccfaa950792)
![IMG_20241027_082134](https://github.com/user-attachments/assets/aac4a83b-4137-45c4-b1b1-dae8ea33f615)
![IMG_20241027_082152](https://github.com/user-attachments/assets/fbc925be-1923-4e64-b1d7-e8ba55046d4d)
![IMG_20241027_082209](https://github.com/user-attachments/assets/60e15a0a-e8f7-4b8a-9e19-abe0898e720b)
![IMG_20241027_082226](https://github.com/user-attachments/assets/8bc59a09-7eef-4fee-9aaf-f4367f478d2a)
![IMG_20241028_160904](https://github.com/user-attachments/assets/a6fde9f8-e2c0-4fa1-b68a-696d0bca941d)
![IMG_20241102_163229](https://github.com/user-attachments/assets/6956388e-ac06-4006-9d43-7f0916584645)
![IMG_20241102_163236](https://github.com/user-attachments/assets/c5e21efb-49fe-4b94-8077-5a04bc7da36d)
# Craft 2 Storage (https://craftcms.com/support/craft-storage-gitignore)
# not necessary for Craft 3 (https://github.com/craftcms/craft/issues/26)
/craft/storage/*https://cloud.google.com/products/databases?hl=th
https://cloud.google.com/products/databases?hl=th!/craft/storage/rebrand
